.conf-agenda {
  display: none;
  margin: 25px 0;
  &--active {
    display: block;
  }
  &__item {
    position: relative;
    display: block;
    padding-left: 70px;
    margin-bottom: 20px;
  }
  &__row {
    padding: 10px;
    border: 1px solid $color-gray-light;
    overflow: hidden;
    margin: -1px;
    display: table;
    width: 100%;
    &--hidden {
      display: none;
    }
  }
  &__hour {
    font-size: 0.8rem;
    background-color: $color-gray-light;
    color: $color-gray-dark;
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: center;
  }
  &__presentation {
    @include min-screen($screen__m + 1) {
      width: 80%;
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__presentation-subject {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  &__presentation-speaker {
    font-size: 0.7rem;
    color: $color-gray-dark;
  }
  &__info {
    @include min-screen($screen__m + 1) {
      width: 20%;
      text-align: right;
      display: table-cell;
      vertical-align: middle;
    }
    @include max-screen($screen__s) {
      margin-top: 10px;
    }

  }
  &__language {
    width: 40px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-color: blue;
    &--pl {
      background: red;
    }
  }
  &__room-type {
    font-size: 0.7rem;
    line-height: 25px;
    padding: 0 25px;
    background-color: $color-gray-light;
    color: $color-gray-dark;
    text-align: center;
    display: inline-block;
  }
}