.conf-agenda {
  margin: 25px 0;
	@include clearfix;
  &--is-open {
    display: block;
  }
  &__item {
    position: relative;
    display: block;
    padding-left: 60px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__row {
		width: 100%;
    padding: 10px 10px 0 10px;
    border: 1px solid $color-gray-light;
		margin: -1px;
		&:nth-child(2) {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		@include clearfix;
		// TO DO
		// &--track-15 {
		// 	position: relative;
		// 	&:after {
		// 		content: '';
		// 		position: absolute;
		// 		right: 10px;
		// 		bottom: 9px;
		// 		width: 100px;
		// 		height: 30px;
		// 		opacity: 0.5;
		// 		background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg);
		// 		background-size: contain;
		// 		background-repeat: no-repeat;
		// 		background-position: right bottom;
		// 	}
		// }
  }
  &__hour {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 60px;
		padding: 10px;
    font-size: 12px;
		text-align: center;
		color: $color-gray-dark;
    background-color: $color-gray-light;
  }
  &__presentation {
		&-subject {
	    font-weight: $font-weight-bold;
			color: $color-dark;
	  }
	  &-speaker {
			font-size: 12px;
	    color: $color-gray-dark;
	  }
	}
  &__info {
		margin-top: 15px;
		@include clearfix;
		&-item {
			float: left;
			margin: 0 10px 10px 0;
			padding: 5px 15px;
			font-size: 12px;
			line-height: 20px;
			font-weight: $font-weight-bold;
			color: $color-gray;
			background-color: $color-gray-light;
			text-transform: uppercase;
			&--language {
				height: 30px;
				padding: 0;
				border: 1px solid $color-gray-light;
				img{
					display: block;
					height: 100%;
				}
			}
			&--track {
				padding: 5px 10px 5px 5px;
				.conf-agenda__info-item-color {
					float: left;
					width: 20px;
					height: 20px;
					margin-right: 5px;
				}
			}
		}
  }
}
