// Colors
$color-gray-light: #e8e8e8;
$color-gray: #999999;
$color-gray-dark: #777777;
$color-black: #000;
$color-white: #fff;
$color-primary: #e74011;

//  Breakpoints
$screen__xxs: 320px;
$screen__xs: 480px;
$screen__s: 640px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1440px;
