/* line 1, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda {
  display: none;
  margin: 25px 0;
}

/* line 4, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda--active {
  display: block;
}

/* line 7, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__item {
  position: relative;
  display: block;
  padding-left: 70px;
  margin-bottom: 20px;
}

/* line 13, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__row {
  padding: 10px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  margin: -1px;
  display: table;
  width: 100%;
}

/* line 20, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__row--hidden {
  display: none;
}

/* line 24, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__hour {
  font-size: 0.8rem;
  background-color: #e8e8e8;
  color: #777777;
  width: 70px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 36, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
  .conf-agenda__presentation {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
  }
}

/* line 43, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__presentation-subject {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* line 47, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__presentation-speaker {
  font-size: 0.7rem;
  color: #777777;
}

@media only screen and (min-width: 769px) {
  /* line 51, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
  .conf-agenda__info {
    width: 20%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 640px) {
  /* line 51, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
  .conf-agenda__info {
    margin-top: 10px;
  }
}

/* line 63, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__language {
  width: 40px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  background-color: blue;
}

/* line 69, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__language--pl {
  background: red;
}

/* line 73, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-agenda.scss */
.conf-agenda__room-type {
  font-size: 0.7rem;
  line-height: 25px;
  padding: 0 25px;
  background-color: #e8e8e8;
  color: #777777;
  text-align: center;
  display: inline-block;
}

/* line 1, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-days.scss */
.conf-days {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {
  /* line 1, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-days.scss */
  .conf-days {
    font-size: 1.2rem;
  }
}

/* line 8, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-days.scss */
.conf-days__item {
  display: inline-block;
  cursor: pointer;
  margin: 15px;
}

/* line 12, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-days.scss */
.conf-days__item--selected {
  color: #e74011;
  border-bottom: 1px solid #e74011;
}

@media only screen and (min-width: 640px) {
  /* line 17, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-days.scss */
  .conf-days__day {
    display: inline-block;
  }
}

@media only screen and (min-width: 640px) {
  /* line 22, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_conf-days.scss */
  .conf-days__date {
    display: inline-block;
    margin-left: 10px;
  }
}

/* line 1, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/conf-room.scss */
.conf-room {
  margin: 10px;
  text-align: center;
}

/* line 4, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/conf-room.scss */
.conf-room__item {
  cursor: pointer;
  font-size: 0.8rem;
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
  background-color: #e8e8e8;
  border: 2px solid #e8e8e8;
  color: #777777;
}

@media only screen and (max-width: 640px) {
  /* line 4, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/conf-room.scss */
  .conf-room__item {
    font-size: 0.6rem;
    margin: 2px;
    padding: 5px 10px;
  }
}

/* line 18, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/conf-room.scss */
.conf-room__item--selected {
  background-color: #fff;
  color: #000;
}

/* line 1, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_flags.scss */
.flag {
  width: 32px;
  height: 32px;
  background: url(../images/flags.png) no-repeat;
}

/* line 5, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_flags.scss */
.flag--gb {
  background-position: -32px 0;
}

/* line 8, /Users/talalus/Sites/snowdog/confapp.dev/wp-confapp-pugin/confapp/assets/scss/blocks/_flags.scss */
.flag--pl {
  background-position: 0 -32px;
}
