// Colors
$color-black     : #000;
$color-dark      : #1a1a1a;
$color-gray-dark : #777;
$color-gray      : #999999;
$color-gray-light: #e8e8e8;
$color-white     : #fff;
$color-primary   : #e74011;

//  Breakpoints
$screen__xxs: 320px;
$screen__xs : 480px;
$screen__s  : 640px;
$screen__m  : 768px;
$screen__l  : 1024px;
$screen__xl : 1440px;

// Typography

$font: Open Sans, Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
