root = true
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
[*.{css,scss}]
indent_style = tab
[*.{php,phtml,html,js}]
indent_style = space
indent_size = 4
